$color: gray;

td {
  text-align: center;
}

table {
  margin-top: 20px;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

#prof-img {
  padding-top: 60px;
}

.url {
  font-size: 50%;
  opacity: 0.5;
}

ol {
  margin-left: 20px;
  padding-left: 50px;
  color: $color;
}

h1 {
  color: rgb(127, 134, 202);
  text-align: Left;
  padding-left: 50px;
}

h2 {
  color: rgb(0, 255, 85);
  padding-left: 20px;
}

p {
  color: $color;
  padding-left: 40px;
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: lightgray;
  color: white;
}

.contact {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.contactmail {
  position: fixed;
  right: 25px;
  bottom: 5px;
}

@media print {
  .image {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #campagne,
  .image {
    display: none;
  }
}

#devise {
  text-align: center;
  color: rgb(164, 32, 216);
  text-align: center;
  position: fixed;
  bottom: 20px;
  padding-bottom: 60px;
  font-size: 36px;
  font-family: cursive;
}

@media screen and (max-width: 768px) {
  #devise {
    font-size: 52px;
  }
}
